In [ ]:
#공공데이터 포탈
#한국자산관리공사_국유부동산

In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\user\dohyeon/한국자산관리공사_국유부동산 매각현황_20221231.csv', encoding ='cp949')
df

,연도구분,지역구분,소재지명,재산구분,공부지목,대장면적(제곱미터),대장금액(원),처분구분명,계약일자,부점명,팀명
0,2014,전라북도,전라북도 정읍시 상동 725,토지,전,56.0,9968000.0,처분(매각수의),2014-01-01,전북지역본부,국유재산관리1팀
1,2014,울산광역시,울산광역시 북구 천곡동 709-1,토지,임야,225.0,13770000.0,처분(매각수의),2014-01-01,국유재산관리부,국유울산팀
2,2014,전라북도,전라북도 정읍시 산내면 종성리 727-21,토지,답,105.0,1075200.0,처분(매각수의),2014-01-01,전북지역본부,국유재산관리1팀
3,2014,전라북도,전라북도 정읍시 산내면 종성리 727-16,토지,답,184.0,1884160.0,처분(매각수의),2014-01-01,전북지역본부,국유재산관리1팀
4,2014,전라북도,전라북도 김제시 검산동 424-3,토지,전,2106.0,23797800.0,처분(매각수의),2014-01-01,전북지역본부,국유재산관리2팀
...,...,...,...,...,...,...,...,...,...,...,...
141312,2022,제주특별자치도,제주특별자치도 서귀포시 표선면 하천리 1500-4,토지,임야,208.0,29952000.0,처분(매각수의),2022-11-09,광주전남지역본부,국유제주지사
141313,2022,제주특별자치도,제주특별자치도 서귀포시 표선면 세화리 2451-3,토지,전,1257.0,56062200.0,처분(매각수의),2022-12-29,광주전남지역본부,국유제주지사
141314,2022,제주특별자치도,제주특별자치도 서귀포시 표선면 세화리 2451-10,토지,전,2974.0,132640400.0,처분(매각수의),2022-12-29,광주전남지역본부,국유제주지사
141315,2022,제주특별자치도,제주특별자치도 서귀포시 표선면 토산리 32-3,토지,유지,80.0,32160000.0,처분(매각수의),2022-08-04,광주전남지역본부,국유제주지사
141316,2022,제주특별자치도,제주특별자치도 서귀포시 표선면 토산리 1033,토지,묘지,178.0,2776800.0,처분(매각수의),2022-11-22,광주전남지역본부,국유제주지사

In [2]:
df

,연도구분,지역구분,소재지명,재산구분,공부지목,대장면적(제곱미터),대장금액(원),처분구분명,계약일자,부점명,팀명
0,2014,전라북도,전라북도 정읍시 상동 725,토지,전,56.0,9968000.0,처분(매각수의),2014-01-01,전북지역본부,국유재산관리1팀
1,2014,울산광역시,울산광역시 북구 천곡동 709-1,토지,임야,225.0,13770000.0,처분(매각수의),2014-01-01,국유재산관리부,국유울산팀
2,2014,전라북도,전라북도 정읍시 산내면 종성리 727-21,토지,답,105.0,1075200.0,처분(매각수의),2014-01-01,전북지역본부,국유재산관리1팀
3,2014,전라북도,전라북도 정읍시 산내면 종성리 727-16,토지,답,184.0,1884160.0,처분(매각수의),2014-01-01,전북지역본부,국유재산관리1팀
4,2014,전라북도,전라북도 김제시 검산동 424-3,토지,전,2106.0,23797800.0,처분(매각수의),2014-01-01,전북지역본부,국유재산관리2팀
...,...,...,...,...,...,...,...,...,...,...,...
141312,2022,제주특별자치도,제주특별자치도 서귀포시 표선면 하천리 1500-4,토지,임야,208.0,29952000.0,처분(매각수의),2022-11-09,광주전남지역본부,국유제주지사
141313,2022,제주특별자치도,제주특별자치도 서귀포시 표선면 세화리 2451-3,토지,전,1257.0,56062200.0,처분(매각수의),2022-12-29,광주전남지역본부,국유제주지사
141314,2022,제주특별자치도,제주특별자치도 서귀포시 표선면 세화리 2451-10,토지,전,2974.0,132640400.0,처분(매각수의),2022-12-29,광주전남지역본부,국유제주지사
141315,2022,제주특별자치도,제주특별자치도 서귀포시 표선면 토산리 32-3,토지,유지,80.0,32160000.0,처분(매각수의),2022-08-04,광주전남지역본부,국유제주지사
141316,2022,제주특별자치도,제주특별자치도 서귀포시 표선면 토산리 1033,토지,묘지,178.0,2776800.0,처분(매각수의),2022-11-22,광주전남지역본부,국유제주지사

In [3]:
for c in df.columns:
    new_name = c + '_calc'
    try:
        df[new_name] = (df.loc[:, c] + 1) * 2
    except:
        pass

In [4]:
df

,연도구분,지역구분,소재지명,재산구분,공부지목,대장면적(제곱미터),대장금액(원),처분구분명,계약일자,부점명,팀명,연도구분_calc,대장면적(제곱미터)_calc,대장금액(원)_calc
0,2014,전라북도,전라북도 정읍시 상동 725,토지,전,56.0,9968000.0,처분(매각수의),2014-01-01,전북지역본부,국유재산관리1팀,4030,114.0,19936002.0
1,2014,울산광역시,울산광역시 북구 천곡동 709-1,토지,임야,225.0,13770000.0,처분(매각수의),2014-01-01,국유재산관리부,국유울산팀,4030,452.0,27540002.0
2,2014,전라북도,전라북도 정읍시 산내면 종성리 727-21,토지,답,105.0,1075200.0,처분(매각수의),2014-01-01,전북지역본부,국유재산관리1팀,4030,212.0,2150402.0
3,2014,전라북도,전라북도 정읍시 산내면 종성리 727-16,토지,답,184.0,1884160.0,처분(매각수의),2014-01-01,전북지역본부,국유재산관리1팀,4030,370.0,3768322.0
4,2014,전라북도,전라북도 김제시 검산동 424-3,토지,전,2106.0,23797800.0,처분(매각수의),2014-01-01,전북지역본부,국유재산관리2팀,4030,4214.0,47595602.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141312,2022,제주특별자치도,제주특별자치도 서귀포시 표선면 하천리 1500-4,토지,임야,208.0,29952000.0,처분(매각수의),2022-11-09,광주전남지역본부,국유제주지사,4046,418.0,59904002.0
141313,2022,제주특별자치도,제주특별자치도 서귀포시 표선면 세화리 2451-3,토지,전,1257.0,56062200.0,처분(매각수의),2022-12-29,광주전남지역본부,국유제주지사,4046,2516.0,112124402.0
141314,2022,제주특별자치도,제주특별자치도 서귀포시 표선면 세화리 2451-10,토지,전,2974.0,132640400.0,처분(매각수의),2022-12-29,광주전남지역본부,국유제주지사,4046,5950.0,265280802.0
141315,2022,제주특별자치도,제주특별자치도 서귀포시 표선면 토산리 32-3,토지,유지,80.0,32160000.0,처분(매각수의),2022-08-04,광주전남지역본부,국유제주지사,4046,162.0,64320002.0
141316,2022,제주특별자치도,제주특별자치도 서귀포시 표선면 토산리 1033,토지,묘지,178.0,2776800.0,처분(매각수의),2022-11-22,광주전남지역본부,국유제주지사,4046,358.0,5553602.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141317 entries, 0 to 141316
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   연도구분             141317 non-null  int64
 1   지역구분             141317 non-null  object
 2   소재지명             141317 non-null  object
 3   재산구분             141317 non-null  object
 4   공부지목             141316 non-null  object
 5   대장면적(제곱미터)       141317 non-null  float64
 6   대장금액(원)          141317 non-null  float64
 7   처분구분명            141317 non-null  object
 8   계약일자             141317 non-null  object
 9   부점명              141317 non-null  object
 10  팀명               141232 non-null  object
 11  연도구분_calc        141317 non-null  int64
 12  대장면적(제곱미터)_calc  141317 non-null  float64
 13  대장금액(원)_calc     141317 non-null  float64
dtypes: float64(4), int64(2), object(8)
memory usage: 15.1+ MB

In [6]:
df.isnull().sum()

연도구분                0
지역구분                0
소재지명                0
재산구분                0
공부지목                1
대장면적(제곱미터)          0
대장금액(원)             0
처분구분명               0
계약일자                0
부점명                 0
팀명                 85
연도구분_calc           0
대장면적(제곱미터)_calc     0
대장금액(원)_calc        0
dtype: int64

# 함수(Function)
내장 함수 : 프로그래밍 언어가 미리 정의한 함수
사용자 정의 함수 : 사용자가 임의로 등록해 사용
반복적인 특정 기능을 담은 함수를 정의해놓으면 굉장히 편리함.
보통 함수랑 클래스 잘쓰면 다 먹고 들어가는거임

In [14]:
#보통 재귀함수 팩토리얼 정의하는 함수 많이씀
def plus(a,b):
    print(a+b)
plus(4,5)

9

In [15]:
# 보통 return값은 Out으루 나옴
def plus(a,b):
    return a + b;
plus(4,5)

9

In [21]:
def plus(a,b):
    return a + b, a - b

#함께 실현시키고 싶다? 그러면 return 하나에서 리스트로 묶으면 된다.
#굳이 안묶어도 되긴함
#이미 return에 60에 저장되어서 함수가 끝나버림

In [22]:
plus(10,4)

(14, 6)

In [30]:
def func1(x,y):
    if x%y > x-y:
        type = x%y
        print(type)
    elif x%y <= x-y:
        type2 = x-y
        print(type2)
    else:
        print("아무것도 아닙니다.")       
a = int(input('숫자를 입력하시오: '))
b = int(input('숫자를 입력하시오: '))
func1(a,b)

숫자를 입력하시오: 10
숫자를 입력하시오: 4
6

In [33]:
list0 = []

for i in range(10):
    if i % 2 == 0:
        list0.append('짝수')
    else:
        list0.append("홀수")

In [34]:
list0

['짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수']

In [36]:
#list comprehension
['짝수' if i % 2 == 0 else '홀수' for i in range(10)]

['짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수']

In [37]:
def num_checks(x):
    if x % 2 == 0:
        return '짝수'
    else:
        return '홀수'
[num_checks(i) for i in range(10)]

['짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수']

In [40]:
def num_checks(x):
    if x % 2 == 0:
        return '짝수'
    else:
        return '홀수'
for i in range(10):
    print(num_checks(i))

짝수
홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수
홀수

In [7]:
df.head(4)

,연도구분,지역구분,소재지명,재산구분,공부지목,대장면적(제곱미터),대장금액(원),처분구분명,계약일자,부점명,팀명,연도구분_calc,대장면적(제곱미터)_calc,대장금액(원)_calc
0,2014,전라북도,전라북도 정읍시 상동 725,토지,전,56.0,9968000.0,처분(매각수의),2014-01-01,전북지역본부,국유재산관리1팀,4030,114.0,19936002.0
1,2014,울산광역시,울산광역시 북구 천곡동 709-1,토지,임야,225.0,13770000.0,처분(매각수의),2014-01-01,국유재산관리부,국유울산팀,4030,452.0,27540002.0
2,2014,전라북도,전라북도 정읍시 산내면 종성리 727-21,토지,답,105.0,1075200.0,처분(매각수의),2014-01-01,전북지역본부,국유재산관리1팀,4030,212.0,2150402.0
3,2014,전라북도,전라북도 정읍시 산내면 종성리 727-16,토지,답,184.0,1884160.0,처분(매각수의),2014-01-01,전북지역본부,국유재산관리1팀,4030,370.0,3768322.0

In [8]:
df['대장면적(제곱미터)'] >  df['대장면적(제곱미터)'].mean()

0         False
1         False
2         False
3         False
4          True
          ...
141312    False
141313     True
141314     True
141315    False
141316    False
Name: 대장면적(제곱미터), Length: 141317, dtype: bool

In [9]:
df['대장면적(제곱미터)'].mean()

569.3020140959686

In [10]:
def sqm(x):
    if x > df['대장면적(제곱미터)'].mean():
        return True
    return False

In [11]:
df['대장면적(제곱미터)'].apply(lambda x: sqm(x))
#깔끔하네

0         False
1         False
2         False
3         False
4          True
          ...
141312    False
141313     True
141314     True
141315    False
141316    False
Name: 대장면적(제곱미터), Length: 141317, dtype: bool

In [ ]:
#패키지와 자료형의 함수

In [12]:
import time

In [13]:
print('sleep')
time.sleep(1)
print('좋아')

sleep
좋아

In [7]:
from factorial_package import *
dddd()

바보

# 객체 지향 프로그램밍(OOP)
## 객체 : 클래스가 구현된 것
## 클래스 : 속성과 행위를 정의한 것
### 메소드 : 객체에 명령 또는 통신하는 것

In [ ]:
#클래스는 하나의 그릇이라고 생각하면 된다 operation과 속성을 묶은

In [11]:

var4 = 9999 #global
def function():
    var1 = 'hello'
    var2 = 456
    var3 = 9 #local
    print(var1, var2+var3+var4)
function()

hello 10464

In [10]:
var3 = 300
var3 + 300
#function()에만 정의된 변수이기 때문에 var3는 정의되어 있지 않다. 따라서 밖으로 빼서 변수를 지정하면된다.

600

In [ ]:
#지역변수를 아예 함수안에 다시 설정하거나
#global 설정해주기 그러면은 함수 밖에 설정된 변수를 쓸 수 있음

In [16]:
class Myclass:
    i = 12345
    def f(self):
        return 'hello world'
Myclass.f(2)

'hello world'

In [17]:
class Complex:
    def __init__(self, a, b):
        self.a = a
        self.b = b
x = Complex(5,5)

In [18]:
x.a, x.b

(5, 5)

In [19]:
x.counter = 1

In [20]:
x.counter

1

In [21]:
while x.counter<10:
    x.counter = x.counter * 2
print(x.counter)

16

In [22]:
del x.counter

In [23]:
x.counter

AttributeError: 'Complex' object has no attribute 'counter'

In [37]:
#상속
#super class
class Tree:
    kingdom = 'ang'
    leaf = True
    fruit = 'fruit_name'
    
    def flower(self):
        print("꼬치 피었습니다.")

In [38]:
class FruitTree(Tree):
    def __init__(self, fruit):
        self.fruit = fruit
    def observe_fruit(self):
        print(f'나무에 달린열매는 {self.fruit}입니다.')

In [39]:
FruitTree

__main__.FruitTree

In [41]:
oragne_tree = FruitTree("orange")
oragne_tree

In [42]:
oragne_tree.observe_fruit()

나무에 달린열매는 orange입니다.

# titanic.csv 파일을 열고, Sex column을 삭제한 뒤 진행

이름 기반으로 성별을 파악한 뒤, Sex column에 등록

Age 항목의 결측치를 파악해 아래 중 하나 수행

결측치를 0으로 대체 (fillna 함수 이용 가능)

전체 값의 평균으로 대체 (mean 함수 이용 가능)

중앙값으로 대체 (median 함수 이용 가능)

남성이며 나이가 10대라면 O, 아니라면 X로 표기해 'check'
column으로 저장

해당 파일을 result.tsv 파일로 저장

해당 프로세스를 클래스로 구현해 보기